body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  .incidentes-container {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
  }
  
  /* Estilos adicionales para mejorar la apariencia */
  button:hover {
    background-color: #ddd;
  }
  
  .incidentia {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  /* Estilos para botones específicos si es necesario */
  button.informar {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  button.realizado {
    background-color: #008CBA;
    color: white;
    border: none;
  }
  

 /* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #ccc;
  width: 60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.close {
  color: #333;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #555;
}

/* Estilo para el botón dentro del modal */
.modal-content button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Estilo para el botón al pasar el mouse */
.modal-content button:hover {
  background-color: #007bb5;
}
