/* styles.css */


@media (max-width: 742px) {


  
}


.modalTrasferencia {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 300px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  border: 2px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}


.enviarButton{
 
  margin-top: 50px;
  height: 40px;
  display: flex;

  justify-content: center;

}

button {
  font-family: inherit;
  font-size: 15px;
  background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

button:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

button:hover svg {
  transform: rotate(45deg);
}



.detallesTransfer{
  background-color: #4a00e0;
  height: 40%;
}

.listaEncargados{
  font-size: 13px; /* Ajusta el tamaño de fuente según tus necesidades */
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.selectCuadro {
  width: 100%;
  padding: 8px;
  font-size: 11px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.selectCuadro:hover, .selectCuadro:focus {
  border-color: #66afe9;
  box-shadow: 0 2px 8px rgba(102, 175, 233, 0.6);
}




/* Puedes agregar estilos adicionales para el contenido del modal */




body, html {
  margin: 0;
  padding: 0;
  max-height: 100%;
}

section.main {
  height: 100%;
  width: 100%;

}




.ContenedorDashboard{
  height: 100%;
  margin-left: 35px;
  
}


#iconoLogo {
  margin-top: 40px;
  color: #f7f7f7;
  display: flex;
  font-size: 25px;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  text-align: center; /* Alinea el texto al centro */
}

#dashboardTitle {
  position:initial;
  margin-top: 30px;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #000000;
}



#IconosAside{
  margin-top: 80px;
}


*{
  margin:0px;
  padding:0px;
}

.submenu {
  display: none;
}

.dropdown.active .submenu {
  display: block;
}

.main {
  position: relative;
  top: 50px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

aside {
  width: 60px;
  background: linear-gradient(135deg, rgb(51, 20, 58) 0%, #552e9f 35%, rgb(71, 16, 83) 100%);
  padding: 0px 0px 10px 0px;
  box-shadow: 0px 3px 5px #6d6d6d;
  overflow: hidden;
  z-index: 99;
  margin-top: -70px; 
  transition: visibility 0.3s, width 0.3s;
  height: 100%;
 
 
}


aside ul {
  list-style: none;
  width: 100%;
}
aside ul li {
 
  padding: 10px 20px;
  position: relative;
}
aside ul li a {
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
}
aside ul li a span {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  width: 38px;
}

aside ul li:hover {
  box-shadow: inset 0px 0px 77px #000000f3;
}



.dashboard-item:hover {
transform: translateY(-5px);
}

.info-container {
padding: 20px;
flex-direction: column;
justify-content: space-between;
height: 100%; /* La altura del .info-container será igual a la altura del .dashboard-item */
}







/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}




#cambiarImagenPerfilLink{
  cursor: pointer;
}




.upload-btn {
  background-color: transparent;
  border: 0.125rem dashed hsla(223,10%,50%,0.4);
  flex: 1;
  padding: 0.375rem 2rem;
}

.upload-btn:hover {
  background-color: hsla(223,10%,60%,0.2);
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(226, 94, 54);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.result {
  margin-top: 4px;
  background-color: rgba(0, 140, 255, 0.062);
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 1em;
}

.file-uploaded {
  font-weight: 300;
}

.file-uploaded::before {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(26, 7, 1, 0.212);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  right: 10px;
  top: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}

.file-uploaded:hover::before {
  background-color: rgba(233, 40, 6, 0.664);
}

#formularioImagen {
  
  z-index: 2; /* Ajusta según sea necesario para superponer otros elementos */
  position: absolute; /* Cambiado a absolute para que pueda superponerse */
  top: 600px; /* Ajusta según sea necesario */
  right: 700px; /* Ajusta según sea necesario */
  transform: translate(50%, -50%); /* Centra el modal */
  /* ... otros estilos ... */
}

#subirImagenBtn {
  background-color: #2f775b; /* Color de fondo verde */
  color: white; /* Color del texto blanco */
  padding: 10px 20px; /* Espaciado interno del botón */
  font-size: 16px; /* Tamaño del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Esquinas redondeadas */
  cursor: pointer; /* Cursor tipo puntero al pasar por encima */
  margin: auto; /* Centrar el botón */
  display: block; /* Hacer que sea un elemento de bloque para centrarlo */
}


#menuAside {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

#IconosAside {
  list-style: none;
  padding: 0;
}

#IconosAside li {
  margin-bottom: 15px;
}

.nuevoContenedor {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#contenedorImagen {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  text-align: center;
  width: 45px; /* Ajusta el ancho según tus necesidades */
  height: 45px; /* Ajusta la altura según tus necesidades */
  overflow: hidden; /* Esto asegura que cualquier parte de la imagen que exceda las dimensiones del contenedor se oculte */
  background-color: white; /* Color del fondo blanco */
  border-radius: 50px; 
  border-color: #000000;
   /* Añadido para separar el contenedor de imagen de los elementos anteriores */
}

#imagenColaborador {
  border-color: #000000;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Esto asegura que la imagen cubra completamente el contenedor sin deformarse */
  border-radius: 10px; /* Ajusta según tus preferencias */
}



.salir {
  display: flex;
  align-items: center;
  width: 45px; /* Ajusta el ancho según tus preferencias */
  height: 45px; /* Ajusta la altura según tus preferencias */
  border: none;
  border-radius: 10px; /* Ajusta el radio de las esquinas según tus preferencias */
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
  margin-left: 0px;
}

/* ... (tus estilos actuales) ... */
.ContenedorDashboard {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  border-radius: 15px;
  width: calc(25% - 20px);
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  box-sizing: border-box;
  display: flex; /* Agregado: establece el contenedor como flexbox */
  align-items: center;
}

.material-icons {
  width: 100%;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 10px;
 
  
}


.card .material-icons{
  font-size: 50px;
}

.card .material-symbols-outlined{
  font-size: 50px;
  color: #ffffff;
}






.content-wrapper {
  flex: 1;
}

.label {
  margin-bottom: 10px;
  font-size: 17px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;

  
}

.name {
  font-size: 38px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.tituloApp{
  margin-top: -50px;
  display: flex;
  justify-content: space-between;
 
  width: 100%;
  height: 50px;
  align-items: center;
  
}

.titulo{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#ticketsPendientes {
  background-image: linear-gradient(290deg, #b286eb 0, #8f6cd8 50%, #6954c6 100%);
}

#ticketsResueltos{
  background-image: radial-gradient(circle at 50% 50%, #7092ff 0, #3c78f2 50%, #0060dd 100%);
}

#totalPrioridad{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(270deg, #1f1f59 0, #1f1f59 50%, #1f1f59 100%);
}

.priorities {
  margin-top: 0px;
  margin-left: 25px;
  display: flex;
  gap: 10px; /* Espaciado entre las prioridades */
}

.priority {
  text-align: center;
  /* Otros estilos según sea necesario */
}

.names {
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

.value {
  font-size: 28px;
  color: #ffffff;
}

#textPrioridad{
  margin-top: 30px;
}

.graficosEstadisticos{
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: 250px;
  
}

.ContenedorAcciones{
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: 240px;
}



.graficoSemanal_Labels{
  
  width: 40%;

 

}



.graficoSemanal_diagrama{

  width: 70%;
}

#graficoPersona {
  margin-left: 10px;
  flex: 1;
  background-color: #ededed;
  border-radius: 15px;
  
 

}

#graficoSemanal{
  background-color: #ededed;
  border-radius: 15px;
  display: flex;
  flex: 2;

}

#ticketsUser{
  margin-top: 10PX;
  font-size: 20PX;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-weight: bold;

}

.tituloPorUsuario{


text-align: center;
height: 30px;

}

.graficar{
  margin-top: 10px;
  height: 190px;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  
}

.graficarSemanal{
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
  height: 230px;
  border-radius: 15px;
  border: 3px solid #ddd;

}

.tituloSemana{
  margin-top: 20PX;
  font-weight: bold;
  
}

#tituloSemana{
  font-size: 30px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}


#totalSemana{
  font-size: 50PX;
  text-align: center;
  color: #000000;
  
}

.totalSemana{
  margin-top: 20px;
}





.cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}


.buttonSemana {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

 
  /* Agrega otros estilos según sea necesario */
}

.cssbuttons-io {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  font-family: inherit;
  font-weight: 300;
  font-size: 12px;
  margin-top: 50px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: ghostwhite;
  overflow: hidden;
  /* Ajusta otros estilos según sea necesario */
}


.connectBtn {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: white;
  font-weight: 600;
  background: linear-gradient(to right, #fc8bc4, #576bff);
  box-shadow: 0 20px 30px -7px rgba(97, 118, 238, 0.5);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}


#actividadesRecientes{
  margin-top: 10PX;
  font-size: 15PX;
  text-align: initial;
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-weight: bold;
  
  
}

.connectBtn:hover {
  box-shadow: none;
  transform: translate(0px, 2.2px);
}

.connectBtn:active {
  transform: scale(0.96) translate(0px, 3.2px);
}


.ContenedorAccionesseccion1{
  background-color: #ededed;
  width: 40%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 15px;

}

.ContenedorAccionesseccion2{
  background-color: #ededed;
  width: 60%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 15px;

}


.TablasDiv{
  
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  height: 142px;
  border-radius: 15px;
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px; /* Ajusta según sea necesario */
  overflow: hidden; /* Asegura que las esquinas redondeadas se vean correctamente */
  
}

#miTabla{
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px; /* Ajusta según sea necesario */
  overflow: hidden; /* Asegura que las esquinas redondeadas se vean correctamente */
}

/* Estilos para las celdas del encabezado */
th {
  background-color: #05304d; /* Color de fondo del encabezado */
  text-align: left;
  padding: 2px;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

/* Estilos para las celdas del cuerpo de la tabla */
td {
  text-align: center; /* Centra horizontalmente el contenido de la celda */
  padding: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  vertical-align: middle; /* Centra verticalmente el contenido de la celda */
}

/* Estilo adicional para alternar colores de las filas */
tbody tr:nth-child(even) {
  background-color: #c6c8c9; 
}

/* Estilo para las imágenes de avatares */
td img {
  border-radius: 50%;
  width: 30px; /* Ajusta según sea necesario */
  height: 30px; /* Ajusta según sea necesario */
}

.divDataTables{

  height: 180px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 15px;
  overflow: auto; /* Agrega esta línea */
}

.small-header {
  font-size: 12px; /* Ajusta el tamaño de fuente según tus necesidades */
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;


  /* Agrega otros estilos si es necesario */
}

#miTabla td {
  font-size: 12px; /* Ajusta el tamaño de fuente según tus necesidades */
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  /* Agrega otros estilos si es necesario */
}


.button {
  padding: 3px 51px;
  border: none;
  color: rgb(16, 52, 170);
  cursor: pointer;
  background-color: rgb(190, 219, 253);
  border-radius: 7px;
  font-weight: bold;
  transition: 0.5s;
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 13px;
  box-shadow: rgba(150, 143, 143, 0.2) 0px 2px 8px 0px;

}

.button:hover {
  background-color: rgb(164, 206, 253);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.saveicon {
  width: 17px;
}


